
*{
    margin: 0px;
    padding: 0px;
}

body { 
    margin: 0px;
    padding: 0px;
   display: flex;
   flex-direction: column;
   height: 100vh;
}
.header{
    height: 70px;
}
.headerContainer {
    
   height: 90px; 
  background: orange;
  color: darkslateblue;
  
}
.liste{
    list-style-type: none;
   
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
   
}

li {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 10px;
    color: grey;
    cursor: pointer;
}
li:hover{
    font-size: 30px;
    
}

.btn {
    display: none;
}
.logo {
    width: 150px;
    position: absolute;
    margin-left: 20px;
    animation: apparition 0.8s ease-out;
    
    
}
.paraContainer{
    
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50px;
    color:white;
    font-size: 40px;
    text-shadow:4px 4px black ;
    animation: apparition 0.8s ease-out;
    
    
}
@keyframes apparition{
    from{
        opacity:0;
        transform:translateY(-100px)
    }
    to{
        opacity:1;
        transform: translate(0px);
    }
}

.formulaire {
    padding: 10px;
    background-color:lightgray;
    border: 1px solid;
    border-radius: 10px;
    width:80%  ;
    height: 140px;
    display: block;
    
   
    text-align: center;
    margin:auto;
    margin-top: 50px;
}

.valid {
    width:50px ;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.lab{
    
    color:blue;
    padding: 5px;

}
.condition1{
    font-size: 10px;
    padding: 10px;
    
}
h2{
    padding: 10px;
}


.reunion {
    width: 100%;
    position: absolute;
    z-index: -2;
    
    
}





.footerContainer {
    position:absolute;
    margin-bottom: 0px;
    margin-top: 30px;
    width: 100%;
    height: auto;
    line-height: 24px;
}
.foot{
    list-style-type: none;
    background-color: gray;
    height: 70px;
    width: 100%;
   display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid;
    
}
.Facebook{
    width: 20px;
}
.instagram{
    width: 20px;
}
.email{
    width: 20px;
}

   
    
  
     
 

@media screen and (max-width: 500px){
    header{
height: 300px;

    }
    .liste{
        flex-direction: column;
        height :200px;
        text-align: center;
    } 
    li:nth-child(1){
        border-top: 1px solid #fff;
        margin-top: 100px;
        
    }
    li{
        height:50px;
        width: 100%;
        border-bottom:1px solid #fff ;
        line-height: 50px;
        
    }
    .btn {
        display:block;
        position: absolute;
        right: 10px;
        top: 10px;
        color: #f1f1f1;
        cursor: pointer;
    }

    .headerContainer {
        
        height: 300px; 
       background: orange,0.2;
       color: darkslateblue;
       border-radius: 20px;
       opacity: 1px;
    }
    .logo{
        display: none; 
    }
    .reunion {
        display: none;
    }
    .formulaire{
        display: flex;
        flex-direction: column;
        width:200px ;
        height:450px ;
    }
    body{
        background-color: lightblue;
        height: 100%;

    } 
    .paraContainer{
        color: grey;
        font-size: 30px;
        opacity: 0.2px;
        text-shadow: none;
    }
    .foot{
        list-style-type: none;
        background-color: gray;
        height: 70px;
        width: 100%;
       display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border: 1px solid;
    }
    .Facebook{
        position:absolute;
        width: 15px;
        margin-left: 30px;
        
        
    }
    .instagram{
        position:relative;
        width: 15px;
        margin-left: 10px;
        
    }
    .email{
        position:relative;
        width: 15px;
        margin-left: 10px;
        
    }

    
}


    
