:root{
    --primary:#54a0ff ;
    --orange-1: #ff9f43;
    --orange-2:#f7d794 ;
    --font-family: 'Montserrat', sans-serif; 
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
    --text-color: #444;
    --gray-1:#20232a;
    --gray-2:#efefef;
}